LINKEDIN_CLIENT_ID=_____________
LINKEDIN_CLIENT_SECRET=_____________
LINKEDIN_AUTHORIZATION_URL=https://www.linkedin.com/oauth/v2/authorization
LINKEDIN_REDIRECT_URI=http://localhost:{__PORT__}/callback
LINKEDIN_ACCESS_TOKEN_URL=https://www.linkedin.com/oauth/v2/accessToken
ACCESS_TOKEN_FILEPATH=access_token.json
